PORT=8080
DB_URL=postgres://postgres:password@localhost:5432/postgres?sslmode=disable
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# goose shit
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:password@localhost:5432/postgres
GOOSE_MIGRATION_DIR=./internal/database/migration

# aes
SECRET_KEY=my32digitkey12345678901234567890
IV=my16digitIvKey12

# jwt
JWT_SECRET=jwt-secret-key
